body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/* HEADER */

nav {
  background-color: #f6b319;
}

#logo-image {
  background: url('../images/restaurant-logo_large.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  margin-top: 25px;
}

 .navbar-brand h1 { /*Restauraunt name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;

}

.navbar-brand a {
  text-decoration: none;
}

.navbar-brand p { /*Kosher cert */
  color:#000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}

.navbar-brand p span { /*Star-K */
  vertical-align: middle;
}

.navbar-toggler {
  margin-top: 40px;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color:#951C49;
  text-align: center;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}

#phone a { /*Phone number */
  text-align: right;
  margin-bottom: 0;
}

#phone div { /*We Deliver */
  color: #557c3e;
  text-align: right;
}

.navbar-dark, .navbar[data-bs-theme=dark] {
  --bs-navbar-color: #61122f;
  --bs-navbar-hover-color: #61122f;
  --bs-navbar-disabled-color: #61122f;
  --bs-navbar-active-color: #61122f;
  --bs-navbar-brand-color: #61122f;
  --bs-navbar-brand-hover-color: #61122f;
  --bs-navbar-toggler-border-color: #61122f;
  --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2850, 50, 50, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}

.navbar-toggler {
  margin-bottom: 0 auto;
}
/*END HEADER */

/* FOOTER */

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}

.panel-footer div.row {
  margin-bottom: 35px;
}

#hours, #adress {
  line-height: 2;
}

#hours > span, #adress > span {
  font-size: 1.3em;
}

#adress p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}

#testimonials {
  font-style: italic;
}

#testimonials p:nth-child(2) {
  margin-top: 25px;
}

/* END FOOTER */

/* Home Page */

.jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
  margin-bottom: 30px;
}

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #CCCCCC;
}

#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat center;
  background-size: cover;
}

#specials-tile {
  background: url('../images/specials-tile.jpg') no-repeat center;
  background-size: cover;
}

#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
/* End Home Page */


/* MENU CATEGORIES PAGE */

.category-tile {
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}

.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: 0.8;
}

.category-tile:hover {
  box-shadow: 0 1px 5px 1px #ccc;

}

#menu-categories-title {
  margin-top: 50px;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}

/* END MENU CATEGORIES PAGE */

/* SINGLE CATEGORY PAGE */

.menu-item-tile {
  margin-bottom: 25px;
}

.menu-item-tile hr {
  width: 80%;
}

.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
}

.menu-item-tile .menu-item-price span {
  font-size: .6em;
}

.menu-item-photo {
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  padding: 0;

}

.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}

.menu-item-description {
  padding-right: 30px;
}

h3.menu-item-tile {
  margin-bottom: 10px;
}

.menu-item-details {
  font-size: .9em;
  font-style: italic;
}




/********** Large devices only **********/

@media (min-width: 1200px){
  .jumbotron {
    background: url('../images/jumbotron_1200.jpg') center no-repeat;
    background-size: cover;
    height: 675px;
  }

  /* MENU CATEGORIES PAGE */

  .row div:nth-child(9) {
    margin: 0 auto;

  }

  /* END MENU CATEGORIES PAGE */

}

/********** Medium devices only **********/

@media (min-width: 992px ) and (max-width: 1199px) {
  #logo-image {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }

  /* Home Page */
  .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 558px;
  }
  
  /* End Home Page*/

  
  /* MENU CATEGORIES PAGE */

  .row div:nth-child(9) {
    margin: 0 auto;

  }

  /* END MENU CATEGORIES PAGE */

}

/********** Small devices only **********/

@media (min-width:  768px ) and (max-width: 991px) {

  #logo-image {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }

  #nav-list a {
    font-size: 1em;
  }
  
  #nav-list a span {
    font-size: 1.2em;
    margin-right: 5px;
  }

  /* Home Page */
  #call-btn > a{
    font-size: 1.5em;
    display: block;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid white;
    background-color: #F6B319;
    color: #951C49;
  }

  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .jumbotron {
    background: url('../images/jumbotron_768.jpg') no-repeat;
    height: 432px;
    margin-top: 30px;
  }
  /* End Home Page*/

  
}

/********** Extra small devices only **********/

@media (max-width: 767px) {
  /* Header */

  .container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw;
  }

  .navbar-brand p { /* Korsher cert */
    text-transform: uppercase;
    font-size: .6em;
    margin-top: 12px;
  }

  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #nav-list a {
    font-size: 1em;
  }
  
  #nav-list a span {
    font-size: 1.2em;
    margin-right: 5px;
  }

  #call-btn > a{
    font-size: 1.5em;
    display: block;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid white;
    background-color: #F6B319;
    color: #951C49;
  }

  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  /* Home Page */

  .jumbotron {
    margin-top: 30px;
    padding: 0;
  }

   /* End Home Page*/
   .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
   }

   .panel-footer section:nth-child(3){
    margin-bottom: 0;
   }

   .panel-footer section hr {
    width: 50%;
    margin: auto;
   }

   /* FOOTER */

   
  /* MENU CATEGORIES PAGE */

  .row div:nth-child(9) {
    margin: 0 auto;

  }

  /* END MENU CATEGORIES PAGE */

  /* SINGLE CATEGORY PAGE */
  
  .menu-item-photo {
    max-width: 250px;
    margin: 0 auto;
  }

  h3.menu-item-tile {
    text-align: center;
    margin-top: 20px;
  }

  .menu-item-tile .menu-item-price {
    text-align: center;
  }

  .menu-item-description {
    text-align: center;
  }






  
}
